@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #000000;
  --font-geist-sans: 'Geist Sans', sans-serif;
  --font-geist-mono: 'Geist Mono', monospace;
}

@theme inline {
  --primary_color: #023b26;
  --secondary_color: #005b33;
  --offwhite_color: #b7b7b7;
  --breakpoint-xs: 480px;
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1536px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: white;
  color: black;
  font-family: var(--font-poppins), sans-serif;
}

/* ==========================
utility classes
========================== */
@utility container {
  @apply mx-auto h-full px-4;
}
/* ==========================
   Base styles
   ========================== */
@layer base {
  /* Reset */
  ::-webkit-scrollbar {
    @apply h-1.5 w-1.5;
  }

  ::-webkit-scrollbar-track {
    background: rgb(226, 225, 225);
  }

  ::-webkit-scrollbar-thumb {
    background: var(--secondary_color);
    cursor: grab;
  }

  ::-webkit-scrollbar-thumb:active {
    cursor: grabbing;
  }

  *,
  *::before,
  *::after {
    @apply m-0 box-border p-0 outline-none;
  }

  ::selection {
    background-color: var(--secondary_color);
    color: white;
  }

  svg {
    @apply w-6 transition-all;
  }

  path {
    fill: currentColor !important;
  }


  a,
  button {
    @apply cursor-pointer transition-colors duration-300;
  }

  button {
    @apply whitespace-nowrap;
  }

  select {
    @apply appearance-none bg-transparent;
  }

  ul {
    @apply list-none;
  }

  li {
    @apply inline-block;
  }

  img,
  svg {
    @apply h-full select-none align-middle;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: transparent;
  }
}

/* ==========================
   Components
   ========================== */
@layer components {
  /* md */
  @media (min-width: theme(--breakpoint-md)) {
    .container {
      @apply w-[720px];
    }
  }

  /* lg */
  @media (min-width: theme(--breakpoint-lg)) {
    .container {
      @apply w-[992px];
    }
  }

  /* xl */
  @media (min-width: theme(--breakpoint-xl)) {
    .container {
      @apply w-[1200px];
    }
  }

  /* 2xl */
  @media (min-width: theme(--breakpoint-2xl)) {
    .container {
      @apply w-[1340px];
    }
  }
}
