@import 'tailwindcss';

@plugin 'tailwindcss-animate';

@custom-variant dark (&:is(.dark *));

:root {
  --font-geist-sans: 'Geist Sans', sans-serif;
  --font-geist-mono: 'Geist Mono', monospace;
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

@theme inline {
  --primary_color: #023b26;
  --secondary_color: #18B772;
  --offwhite_color: #b7b7b7;
  --breakpoint-xs: 480px;
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1536px;
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --color-foreground: var(--foreground);
  --color-background: var(--background);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);
}

body {
  background: white;
  color: black;
  font-family: var(--font-poppins), sans-serif;
}

/* ==========================
utility classes
========================== */
@utility container {
  @apply mx-auto h-full px-4 max-w-6xl;
}
@utility buttonStyles{
  @apply bg-(--secondary_color) w-fit rounded-lg border-2 border-transparent px-6 py-3 font-semibold text-white shadow-lg transition-colors hover:border-white hover:bg-transparent

}
/* ==========================
   Base styles
   ========================== */
@layer base {
  /* Reset */
  ::-webkit-scrollbar {
    @apply h-1.5 w-1.5;
  }

  ::-webkit-scrollbar-track {
    background: rgb(226, 225, 225);
  }

  ::-webkit-scrollbar-thumb {
    background: var(--secondary_color);
    cursor: grab;
  }

  ::-webkit-scrollbar-thumb:active {
    cursor: grabbing;
  }

  *,
  *::before,
  *::after {
    @apply m-0 box-border p-0 outline-none capitalize;
  }

  ::selection {
    background-color: var(--secondary_color);
    color: white;
  }

  svg {
    @apply w-6 transition-all;
  }

  path {
    fill: currentColor !important;
  }

  a,
  button {
    @apply cursor-pointer transition-colors duration-300;
  }

  button {
    @apply whitespace-nowrap;
  }

  select {
    @apply appearance-none bg-transparent;
  }

  ul {
    @apply list-none;
  }

  li {
    @apply inline-block;
  }

  img,
  svg {
    @apply h-full select-none align-middle;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: transparent;
  }
}

/* ==========================
   Components
   ========================== */
@layer components {
  /* md */
  @media (min-width: theme(--breakpoint-md)) {
    .container {
      @apply w-[720px];
    }
  }

  /* lg */
  @media (min-width: theme(--breakpoint-lg)) {
    .container {
      @apply w-[992px];
    }
  }

  /* xl */
  @media (min-width: theme(--breakpoint-xl)) {
    .container {
      @apply w-[1200px];
    }
  }

  /* 2xl */
  @media (min-width: theme(--breakpoint-2xl)) {
    .container {
      @apply w-[1340px];
    }
  }
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}



@layer components{
  .step:nth-child(even){
    @apply flex-row-reverse
  }
  .swiper{
  padding-bottom: 60px !important;
}
.swiper-wrapper{
  align-items: stretch !important;
}
.swiper-slide{
  height: auto !important;
}

.swiper-pagination-bullet {
  background-color: white !important;      /* non-active bullets */
  width: 12px;
  height: 12px;
  opacity: 1;
  margin: 0 4px;
  border-radius: 50%;
  transition: all 0.3s;
}

/* Active bullet */
.swiper-pagination-bullet-active {
  background-color: var(--secondary_color) !important; /* active bullet uses your secondary_color */
  transform: scale(1.2);
}

}

@keyframes shine {
          0%
          { background-position: 100%
          }
          100% { background-position: -100% }
        }

        .shine{
animation: shine 5s linear infinite;
        }

