@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #000000;
  --font-geist-sans: 'Geist Sans', sans-serif;
  --font-geist-mono: 'Geist Mono', monospace;
}

@theme inline {
 --primary_color:#023B26;
  --secondary_color:#005B33;
 --offwhite_color:#B7B7B7;

}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: white;
  color: black;
  font-family: var(--font-poppins), sans-serif;
}

@layer base{
  a,button{
    @apply cursor-pointer duration-300 transition-colors
  }
}
